#wrapper
  %header
    %h1.logo
      %a{:href => "#"} TLW
    %nav
      %li
        %a.home{:href => "#"} Home
      %li
        %a.about{:href => "#"} About
      %li
        %a.shows{:href => "#"} Shows
      %li
        %a.music{:href => "http://itunes.apple.com/us/album/introducing../id427752485"} Music
      %li
        %a.contact{:href => "mailto:theleonardwashingtons@gmail.com"} Contact
  #main
    #top
      #slider
        - Slide.find(:all, :limit => 3, :order => 'created_at ASC').each do |slide|
          %img{:src => "#{slide.picture.url(:large)}"}
      .clearfix
      #ajax
        %span.back
          %a{:href => "#"} go back
        %span.close
          %a{:href => "#"} X
        .content
          = render :partial => '/home/partials/about'
    #content
      .columns
        = render :partial => "/home/partials/news"
        = render :partial => "/home/partials/album"
        = render :partial => "/home/partials/music"
      .clearfix
      = render :partial => "/home/partials/shows"
  #footer
    %p
      All Rights Reserved. Copyright 2012
      %span The Leonard Washingtons
